@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

* {
    font-family: 'Lexend';
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .3s linear;
}

body {
    /* background-color:#f1e3e4; */
    background-color: #a288a6;
    display: flex;
    cursor: grab;
}
#cursor {
    height: 30px;
    width: 30px;
    background: rgb(233, 155, 222);
    border-radius: 50%;
    position: absolute;
    display: none;
}

html {
    font-size: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
header {
    height: 100%;
    width: 375px;
    background-color: #f1e3e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    flex-flow: column;
    padding: 0px 20px 0px 0px;
    line-height: 3;
}

#iconpicture {
    width: 55%;
    border-radius: 75%;
    border: 3px solid black;
    margin-top: 40px;
}

header .name {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
header .name span {
    color: black;
}

.navbar {
    padding-bottom: 100px;
}
.navbar a {
    color: black;
    display: block;
    font-size: 30px;
    text-decoration: none;
    transition: 3s;
}

.navbar a:hoover {
    letter-spacing: 10px;
    color:black;
}

.navbar ul {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Lexend';
}

.navbar a:hoover {
    letter-spacing: 10px;
    color:black;
}

/* MAIN  */

.main {
    margin-left: 20%;
}

#mainpicture {
    width: 100%;
    position: relative;
    /* source: https://img.freepik.com/free-vector/stream-binary-code-design_53876-97406.jpg  */
}

/* CONTAINER */
.container {
    color: #a288a6;
    width: 100%;
    height: 950px;
    display: flex;
    margin-bottom: 200px;
}

.content {
    width: 100%;
    font-size: 70px;
    line-height: .75;
    align-items: center;
    text-align: center;
    padding: 250px 400px 0px 0px;
    position: absolute;
}

.content h1 {
    color: white;
    opacity: 0;
    animation: fadeIn 7s forwards;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(-20px);
    }
}
.content h3 {
    font-size: 40px;
}

    .content p {
    font-size: 35px;
}

.header .navbar .ul .li .img {
    width: 20px;
}

/* CONTAINER 2 - ABOUT ME */

.container2 {
    background-color: #a288a6;
    /* border: 3px solid black; */
    width: 1500px;
    height: 950px;
    margin-bottom: 200px;
    padding: 15px;
}

.container2 h1 {
    font-size: 45px;
    padding-top: 20px;
    text-decoration: underline dotted black;
}

.aboutme-box {
    display: flex;
}

#profilepic {
    width: 475px;
    height: 650px;
    margin-top: 30px;
    margin-left: 40px;
    /* border-radius: 15%; */
    object-fit: cover;
    border: 20px solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.container2-content2 p {
    height: 650px;
    background-color: #f1e3e4;
    margin-left: 20px;
    font-size: 30px;
    padding: 15px 20px 0px 40px;
    text-align: left;
    border: 20px solid white;
    border-radius: .5rem;
}

/* CONTAINER 3 - PROJECTS */
.container3 {
    background-color: #a288a6;
    /* border: 3px solid black; */
    width: 1500px;
    height: 950px;
    margin-bottom: 200px;
}
.container3 h1 {
    font-size: 45px;
    text-decoration: underline dotted black;
    padding-left: 15px;
    padding-top: 20px;
}
#projectpicture {
    width: 435px;
    height: 360px;
    margin-left: 50px;
    justify-content: space-around;
    vertical-align: middle;
    margin-top: 40px;
}

.aboutme-box {
    gap: 30px;
}

/* CONTAINER 4 - EXPERIENCE */
.container4 {
    background-color: #a288a6;
    width: 1400px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.container4 h1 {
    text-align: center;
    align-items: center;
    font-size: 45px;
    text-decoration: underline dotted black;
}

.box-container {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.box-container .box {
    position: relative;
    flex: 1 1 33 rem;
    border-left: .2rem solid white;
    padding-bottom: 10px;

}

.box-container .box::before {
    content: '';
    position: absolute;
    top: 0; left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: white;
}

div.box {
    background-color:  #f1e3e4;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin-bottom: 5px;
    margin-left: 30px;
}

.container4 .experience .box-container .box .span {
    color: #f1e3e4;
    font-size: 20px;
    background-color: #a288a6;
    border-radius: 25%;
    padding: .4rem 1rem;
}


/* CONTAINER 5 - CONTACT ME */
.container5 {
    width: 1500px;
    height: 950px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 20px;
    padding-left: 10px;
}
.container5 h1 {
    font-size: 45px;
    position: relative;
    padding-top: 20px;
    text-decoration: underline dotted black;
    padding-left: 15px;
}

.contact-content {
    width: 100%;
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    justify-content: space-between;
    border: 3px solid white;
    gap: 20px;
}
#contactpicture {
    width: 100%;
    height: 1000px;
    position: absolute;
    /* filter: blur(4px); */
}

.text-box {
    width: 500px;
    height: 50px
    backgroun
}

.textarea {
    width: 500px;
    height: 50px
}

